/* Add your CSS here */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  background-color: #F5EEE6;
}
h1 {
  color: black;
  background-color: #E6A4B4;
}

h2 {
  color: black;
  background-color: #F3D7CA;
}

nav ul {
  list-style-type: none;
}

.container {
  padding: 10px;
  background-color: #F3D7CA;
  display: flex;
  gap: 10px;
}
