/* Add your CSS here */
body {
  font-family: "Jersey 10", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  background-color: #F5EEE6;
}
h1 {
  color: black;
  background-color: #E6A4B4;
}

h2 {
  color: black;
  background-color: #F3D7CA;
}
nav ul {
  list-style-type: none;
}
